<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file -->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="episerver" value="http://nuget.episerver.com/nuget" />
	  <add key="dlw - netafim" value="https://www.myget.org/F/delaware-netafim/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
	<!-- All non-disabled sources are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>