@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h2>Please open the "all properties" view to see all the propeties on the settings page.</h2>
    </div>
</body>
</html>
