@model Dlw.EpiBase.Content.Infrastructure.Epi.ContentRenderingErrorModel

<div style="text-align: center">
    <p>
        <object data="/Content/images/warning.svg" type="image/svg+xml" height="50" width="50" align="center"></object>
        Could not load '@Model.ContentName / @Model.ContentTypeName'. (error is logged)
    </p>
</div>
