@using Netafim.WebPlatform.Web.Core.Extensions
@model Netafim.WebPlatform.Web.Features.GenericOverview.SustainableItemBlock

<div class="link-box-item">
    <img class="sustainable-symbol" alt="@Model.Title" src="@Url.ImageUrl(Model, m => Model.Image)">
</div>