<?xml version="1.0" encoding="utf-8" ?>
<!-- don't enable skipManagedModules, breaks episerver -->
<applicationInitialization xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"  xdt:Transform="SetAttributes(doAppInitAfterRestart)" doAppInitAfterRestart="true">
  <add initializationPage="/Maintenance/Warmup" hostName="localhost" xdt:Transform="Insert" />
</applicationInitialization>