<!--
sources:
  http://ruslany.net/2015/09/how-to-warm-up-azure-web-app-during-deployment-slots-swap/
  http://www.zankavtaskin.com/2016/12/azure-web-app-application-initialization.html
  https://sitecore.stackexchange.com/questions/5334/best-practice-around-applicationinitialization-for-sitecore-webapps/5401
-->
<applicationInitialization />