<!-- Keep AppSettings.Release.Config in sync -->
<!-- Don't leak local settings into the environments -->

<appSettings>
  <!-- (epi template) defaults -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  
  <!-- Uncomment to enable debug views: https://www.david-tec.com/2015/02/episerver-debugging-tools/ -->
  <!--<add key="EPi.DebugView.Enabled" value="true"/>-->
  
  <!-- epi -->
  
  <!-- required for Episerver Azure package -->
  <add key="episerver:ReadOnlyConfigurationAPI" value="true" />
  
  <!-- epi find -->
  <!-- for other settings, check EPiServer.Find.Configuration.GetConfiguration(), EPiServer.Find -->
  <add key="episerver:FindServiceUrl" value="" />
  <add key="episerver:FindDefaultIndex" value="" />

  <!-- custom -->
  <add key="Environment" value="LOCAL"/>
  <add key="Logging.LogLevel.Epi" value="Error" />
  <add key="Logging.LogLevel.Custom" value="Debug" />

  <add key="ApplicationInsights.InstrumentationKey" value="" />
  
  <!-- https://github.com/bjuris/EPiServer.CdnSupport -->
  <!--<add key="episerver:CdnExpirationTime" value="7.0:0:0" />-->
  <!--<add key="episerver:CdnExternalMediaUrl" value=""/>-->

  <!-- Enable Security Shield to prevent unwanted access to the websites -->
  <add key="SecurityShield.Enabled" value="true"/>
  <add key="SecurityShield.WhitelistedIps" value=""/>
  <add key="SecurityShield.AadClientId" value="cc158265-778d-4161-bbfa-a21a14154f5d"/>
  <add key="SecurityShield.AadInstance" value="https://login.microsoftonline.com/{0}"/>
  <add key="SecurityShield.AadTenant" value="delawaredigital.onmicrosoft.com"/>

  <add key="Bynder.Enabled" value="false" />
  <add key="Bynder.Provider.Name" value="Bynder" />
  <add key="Bynder.Repository.ConsumerKey" value="4803AB6F-018C-4970-A1BD335D984012E8" />
  <add key="Bynder.Repository.ConsumerSecret" value="469fb40f5347c9d70b0f85c0c35786f5" />
  <add key="Bynder.Repository.Token" value="157D6BC9-4CBC-4DA8-AAF47C01B7E70A13" />
  <add key="Bynder.Repository.TokenSecret" value="35addb34493cea3270ad2c625df91c55" />
  <add key="Bynder.Repository.ApiBaseUrl" value="https://netafim-sandbox1.getbynder.com/" />
  <add key="Bynder.Repository.MaxAssetsToFetch" value="10"/>
  
  <!--fb key-->
  <add key="Social.FacebookAppId" value="" />
  <add key="Social.FacebookAppSecret" value="" />
  <add key="Social.FbName" value=""/>

  <!--linkedin key-->
  <add key="Social.LinkedInAppId" value="" />
  <add key="Social.LinkedInAppSecret" value="" />
  <add key="Social.LinkedInAppName" value=""/>
  <add key="Social.LinkedInTokenExpired" value=""/>
  <add key="Social.LinkedInFeedExpired" value=""/>
  <add key="Social.LinkedInAuthorizedUrl" value=""/>

  <!--twitter key-->
  <add key="Social.TwitterConsumerKey" value="" />
  <add key="Social.TwitterConsumerSecret" value="" />
  <add key="Social.TwitterName" value=""/>

  <!--youtube key-->
  <add key="YouTube.ApiKey" value="" />


  <add key="Awhere.ClientId" value="wa3MwKxJJnla2nN009L6SBSkQvAmCeDI"/>
  <add key="Awhere.ClientSecret" value="GwngwuKhAS46j6Hv"/>
  <add key="Awhere.ApiAddress" value="https://api.awhere.com"/>
  <add key="Awhere.CachedTime" value="3599"/>

</appSettings>