<?xml version="1.0" encoding="utf-8" ?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="episerver:FindServiceUrl" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="episerver:FindDefaultIndex" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  <add key="Environment" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Logging.LogLevel.Epi" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Logging.LogLevel.Custom" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  <add key="ApplicationInsights.InstrumentationKey" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  <add key="SecurityShield.Enabled" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="SecurityShield.WhitelistedIps" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="SecurityShield.AadClientId" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="SecurityShield.AadInstance" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="SecurityShield.AadTenant" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  <add key="Bynder.Enabled" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Bynder.Repository.ConsumerKey" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Bynder.Repository.ConsumerSecret" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Bynder.Repository.Token" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Bynder.Repository.TokenSecret" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="Bynder.Repository.ApiBaseUrl" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

</appSettings>