<?xml version="1.0"?>

<connectionStrings>
  <add name="Master" connectionString="Server=(localdb)\Projects;database=master;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EPiServerDB" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Netafim.WebPlatform.Cms.Local;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  <!-- Service Bus Connectionstring for local usage -->
  <!--<add name="EPiServerAzureEvents" connectionString="Endpoint=sb://ntfm-local.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=TO-BE-DEFINED=" />-->

  <!-- Connectionstring if you want to attach an existing db -->
  <!--
  <add name="EPiServerDB" connectionString="Data Source=(localdb)\Projects;AttachDbFilename=|DataDirectory|EPiServer.Cms.mdf;Initial Catalog=EPiServer.Cms;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  -->
</connectionStrings>