<episerver.shell>
  <publicModules rootPath="~/modules/" autoDiscovery="Modules" />
  <protectedModules rootPath="~/EPiServer/">
    <add name="EPiServer.Packaging.UI" />
    <add name="Shell" />
    <add name="CMS" />
    <add name="Find">
      <assemblies>
        <add assembly="EPiServer.Find.UI" />
        <add assembly="EPiServer.Find.Blocks" />
        <add assembly="EPiServer.Find.Cms" />
        <add assembly="EPiServer.Find.Framework" />
      </assemblies>
    </add>
    <add name="DbLocalizationProvider.AdminUI.EPiServer" />
    <add name="BVNetwork.404Handler" />
  </protectedModules>
</episerver.shell>