<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" uiUrl="~/EPiServer/CMS/" urlRebaseKind="ToRootRelative" uiEditorCssPaths="~/ClientResources/Styles/Editor.css"/>
</episerver>
