<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
  <SignedInfo>
    <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
    <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
    <Reference URI="#Licensing">
      <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />
      <DigestValue>HKejStyQXcX4E66mvsoKlZbuE+g=</DigestValue>
    </Reference>
  </SignedInfo>
  <SignatureValue>c1wpzg4dHFgEH1tuganVQN1N4hYUFuGI+lJj0UgqxXECwzK8kBmn+AVMJoUp+8qiJszkTibjEu5w+9mjF9drucmfEHByc33VVM+v81WcHZDFhsUcEeHKBVNZBZZYz5D9BV0ULrDaZvhZYFKcgipoFPymdomFgEJfnm52lyrBmgM=</SignatureValue>
  <KeyInfo>
    <KeyValue>
      <RSAKeyValue>
        <Modulus>l8slyw1cbtPccvCM/sgrErnNXJMMYwxsuV74so72eENdDwyV1g4Z1WvVre2Dn6q02bSDlneNhV/625RRD4EG1L9cu8WFWvE/6vCsHy/zA+loVaXnvsJiBmK4j7JDTwRtvE51aoBpiJOkNfrSh3HVD12uxsHW0dMXpMgNSlyoEns=</Modulus>
        <Exponent>AQAB</Exponent>
      </RSAKeyValue>
    </KeyValue>
  </KeyInfo>
  <Object Id="Licensing">
    <License Name="EPiServerCloud" xmlns="">
      <MetaData>
        <LicensedTo>Bob Maes</LicensedTo>
        <LicensedCompany>Delaware Consulting</LicensedCompany>
        <LicenseNumber>448081</LicenseNumber>
        <LicenseRevision>448081</LicenseRevision>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseCreated>2017-12-21 08:44:08</LicenseCreated>
        <AccessKey>2oHtwUpw5A34kznsS2tE65dEiPhCBRTJ</AccessKey>
      </MetaData>
      <Restrictions />
    </License>
    <License Name="EPiServer" xmlns="">
      <MetaData>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseNumber>448081</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="12/21/2018 08:44:08" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <CloudRestriction Type="EPiServer.Licensing.RestrictionTypes.CloudRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="EPiServer Commerce" xmlns="">
      <MetaData>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseNumber>448081</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="12/21/2018 08:44:08" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <CloudRestriction Type="EPiServer.Licensing.RestrictionTypes.CloudRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
  </Object>
</Signature>