<?xml version="1.0" encoding="utf-8" ?>
<rules xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- IIS Always On -->
  <rule name="No HTTPS for user agent AlwaysOn" stopProcessing="true" xdt:Transform="Insert">
    <match url="(.*)"/>
    <conditions>
      <add input="{HTTP_USER_AGENT}" pattern="AlwaysOn" ignoreCase="true" />
    </conditions>
    <action type="None" />
  </rule>
  <!-- IIS Initialization module -->
  <rule name="No HTTPS for user agent IIS Initialization Warmup" stopProcessing="true" xdt:Transform="Insert">
    <match url="(.*)"/>
    <conditions>
      <add input="{HTTP_USER_AGENT}" pattern="Warmup" ignoreCase="true" />
    </conditions>
    <action type="None" />
  </rule>
  <rule name="www - https off - .com" enabled="true" stopProcessing="true" xdt:Transform="Insert">
    <match url="(.*)" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
      <add input="{HTTP_HOST}" pattern="^www\.netafim\.com$" />
      <add input="{HTTPS}" pattern="off" />
    </conditions>
    <action type="Redirect" url="https://www.netafim.com/{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="non www - .com" enabled="true" stopProcessing="true" xdt:Transform="Insert">
    <match url="(.*)" />
    <conditions trackAllCaptures="false">
      <add input="{HTTP_HOST}" pattern="^netafim\.com$" />
    </conditions>
    <action type="Redirect" url="{MapProtocol:{HTTPS}}://www.netafim.com/{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="www - https off - .it" enabled="true" stopProcessing="true" xdt:Transform="Insert">
    <match url="(.*)" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
      <add input="{HTTP_HOST}" pattern="^www\.netafim\.it$" />
      <add input="{HTTPS}" pattern="off" />
    </conditions>
    <action type="Redirect" url="https://www.netafim.it/{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="non www - .it" enabled="true" stopProcessing="true" xdt:Transform="Insert">
    <match url="(.*)" />
    <conditions trackAllCaptures="false">
      <add input="{HTTP_HOST}" pattern="^netafim\.it$" />
    </conditions>
    <action type="Redirect" url="{MapProtocol:{HTTPS}}://www.netafim.it/{R:1}" redirectType="Permanent" />
  </rule>
</rules>