<?xml version="1.0" encoding="utf-8" ?>
<!-- Tokens are set during deployment (msdeploy parameters) -->
<smtp xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <network
    userName=""
    password=""
    host=""
    port=""
    defaultCredentials="false"
    xdt:Transform="Replace"
  />
</smtp>