@using Netafim.WebPlatform.Web.Features.ProductFamily.Criteria
@using Netafim.WebPlatform.Web.Core.Extensions
@using Netafim.WebPlatform.Web.Features.ProductFamily.Criteria

@model CriteriaPage

<div class="figure-item figure-topography">
    <img alt="@Model.Name" src="@Url.CropImageUrl(Model.Image, 230, 40)">
    <p>@Model.Name </p>
</div>

@*<div class="figure-item">
        <span> @Model.Name</span>
    </div>*@
