@using Netafim.WebPlatform.Web.Features.ProductFamily.Criteria

@model SeasonCriteriaPage

<div class="figure-item figure-season">

    @if (Model.SeasonValue > 0)
    {
        for (int i = 1; i <= Model.SeasonValue; i++)
        {
            <span class="fact"></span>
        }
    }

    @if (Model.SeasonValue < (int)Season.MaxValue)
    {
        for (int i = Model.SeasonValue; i <= (int)Season.MaxValue; i++)
        {
            <span class="sum"></span>
        }
    }

    <p>@Model.Name</p>
</div>
