<div class="col-md-6">
    <div class="box-inner box-local-website gray-bg">
        <h3 class="box-title">YOUR LOCAL WEBSITE</h3>
        <p>Taking into account your current location, you might be interested in this local website</p>
        <a class="netafim-btn" href="#">USA<span> - English</span></a>
    </div>
</div>